@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.parallax {
	position: absolute;
	overflow: hidden;
	width: 100%;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax img {
	width: 100%;
	height: 100%;
}
/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */

p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}

header {
	position: relative;
	width: 100%;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url('../img/header.jpg');
	background-size: cover;
	/* background-position: top; */
    /* background-attachment: fixed; */
}

header .color-frame {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/* background: #51bff3;
	opacity: .8; */
}

header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;
}

header .header-text {
	display: table-cell;
	vertical-align: top;
	color: white;
	padding-top: 200px;
	text-shadow: 2px 2px #152439;
	/* letter-spacing: 4px; */
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #a94442;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.text-logo {
	font-family: "Cinzel", serif;
	font-variant: small-caps;
	font-size: 38px !important;
	font-weight: bold;
	/* text-shadow: 2px 2px #152439; */
}

nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	margin-bottom: 0px !important;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 0px;
	border: none;
}

nav.navbar .navbar-right {
	margin-top: 15px;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #a94442 !important;
}

nav.navbar-page {
	top: 0px;
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	padding-top: 30px;
}
nav.original.navbar-page {
	padding-bottom: 30px;
}

nav .navbar-brand a {
	font-size: 24px;
}
nav .navbar-brand img {
	width: 85px;
	margin-top: -10px;
}
nav.original .navbar-brand a {
	color: #ffffff !important;
}
nav.navbar-fixed-top .navbar-brand a {
	color: #424242 !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding-top: 25px;
	opacity: 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #bbb;
}

nav .navbar-nav li a:hover {
	color: #fff !important;
	background-color: #a94442;
	border-color: transparent;
}

.icon-bar {
	background: #bbb;
}

/* Blink Cursor */

.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}

.navbar {
	top: 50px;
}

.container {
	position: relative;
	z-index: 1;
}
/* Sections */
section {
	position: relative;
}

.section {
	padding: 40px 0;
	background: #fff;
}

.section-padded {
	padding: 50px 0 40px;
}

.cut-top {
	/* content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white; */
}

.cut-bottom {
	content: ' ';
	position: absolute;
	z-index: 1;
	bottom: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 80px solid transparent;
	border-left: 30px solid white;
}

.section-focus {
	padding: 50px 0px;
	background-color: #f44336;
	color: #fff !important;
}
.section-focus .heading {
	color: #fff !important;
}

.intro-tables {
	padding: 36px 0px;
	display: table;
	width: 100%;
}

.intro-table {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: repeat;
	background-position: 0% 0%;
	display: table-cell;
	vertical-align: middle;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.intro-table .hide-hover {
	text-align: center;
	pointer-events: none;
}

.intro-table .show-hover {
	height: 0px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.intro-table hr {
	margin: 5px auto;
	border-color: #fff;
	width: 0%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.intro-table:hover hr {
	width: 50%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.intro-table:hover .show-hover {
	height: 86px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.intro-tables .intro-table img {
	width: 100%;
}

.intro-tables .intro-table .heading {
	margin: 0;
	padding: 15px;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}

.intro-tables .intro-table:hover .heading {
	padding: 5px;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}

.intro-tables .intro-table .heading .fa-lg {
	font-size: 1.33333em;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}

.intro-tables .intro-table:hover .heading .fa-lg {
	font-size: .5em;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}

.intro-tables .intro-table .small-heading {
	margin: 0;
	padding: 0 30px;
}

.intro-tables .intro-table .bottom {
	position: absolute;
	bottom: 0;
}

.block-color {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .9;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.block-color:hover {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.block-blue {
	background-color: #2196f3;
}
.block-green {
	background-color: #4caf50;
}
.block-orange {
	background-color: #ff9800;
}
.block-grey {
	background-color: #f5f5f5;
}

.ripple-effect {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	-webkit-animation: ripple-animation 2s;
	animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}

@keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}

.services {
	margin: 40px 0;
}

.service {
	width: 100%;
	height: 320px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 40px;
}

.service:hover {
	border-color: #a94442;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.team {
	margin: 80px 0;
	padding-bottom: 60px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	border-radius: 50%;
}

.team .title {
	margin: 50px 0;
}
/* Pricing */

#comodities {
	position: relative;
	background: #424242 url('../img/comodities.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transition: background-image 0.6s linear 0.3s;
	transition: background-image 0.6s linear 0.3s;
    background-attachment: fixed;
}

.mask-grey {
	background-color: rgba(66,66,66,.95);
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.owl-pricing img {
	width: 100%;
}

.owl-pricing,
.pricings {
	margin-top: 100px;
	margin-bottom: 100px;
}

.pricing {
	position: relative;
	width: 100%;
}

.pricings .pricing .box-main,
.pricings .pricing .box-second {
	position: relative;
	left: 25%;
	display: inline-block;
	width: 50%;
	height: 300px;
	padding: 50px 40px;
	background: #bbb;
	-webkit-transition: -webkit-transform 0.3s, background-image 0.3s, opacity 0.3s;
	transition: transform 0.3s, background-image 0.3s, opacity 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pricings .pricing .box-main {
	z-index: 10;
	padding-top: 40px;
}

.pricings .pricing .box-main:not(.active) {
	cursor: pointer;
}

.pricings .pricing .box-main .info-icon {
	font-size: 14px;
	position: absolute;
	top: 20px;
	right: 20px;
	pointer-events: none;
	opacity: 0;
	color: #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.pricings .pricing .box-main:not(.active) .info-icon {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.pricings .pricing .box-main:not(.active):hover {
	background: #afafaf;
}

.pricings .pricing .box-main.active {
	background: #a94442;
	-webkit-transform: translateX(-99%);
	-ms-transform: translateX(-99%);
	transform: translateX(-99%);
}

.pricings .pricing .box-second {
	position: absolute;
	top: 0;
	right: 0% !important;
	left: auto;
	opacity: 0;
	background: #afafaf;
}

.pricings .pricing .box-second.active {
	opacity: 1;
	background: #a94442;
}

.pricings .pricing.active .box-main,
.pricings .pricing .box-second {
	background: #a94442;
}

.pricings .pricing .box-main a.btn {
	margin-top: 50px;
}

.owl-twitter i.icon {
	font-size: 36px;
	margin-bottom: 60px;
	color: white;
}
/* Footer */

footer {
	padding: 40px 0px;
	background-color: #424242;
}

footer .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}

footer .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

footer .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: #4caf50;
}

footer .opening-hours {
	margin-top: 60px;
}

footer .bottom-footer {
	margin-top: 150px;
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: #a94442;
}

/* Popup */
.modal {
	padding: 0 25px !important;
}

.modal-dialog {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}

.modal-popup {
	position: relative;
	padding: 45px 30px;
	text-align: center;
	background: url('../img/popup.jpg');
	box-shadow: none;
	border-radius: 2px;
}

.modal-popup a.close-link {
	font-size: 22px;
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
}

.popup-form .dropdown .dropdown-menu {
	top: 65px;
	width: 100%;
	padding: 0;
	border: 2px solid white;
	border-top: 0;
	border-radius: 0;
	background: white;
	box-shadow: none;
}

.popup-form .dropdown .dropdown-menu li {
	font-size: 16px;
	width: 100%;
	background: transparent;
}

.popup-form .dropdown .dropdown-menu li a {
	width: 100%;
	padding: 15px 30px;
	color: #a94442;
}

.popup-form .dropdown .dropdown-menu li:hover a {
	color: #fff;
	background: #a94442;
}

/* Checkbox */

.checkbox-holder {
	white-space: nowrap;
}

.checkbox {
	position: relative;
	display: block;
}

.checkbox {
	position: relative;
}

.checkbox label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 2px solid white;
	background: transparent;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.checkbox input[type=checkbox]:focus + label:before {
	background: rgba(255,255,255,0.2);
}

.checkbox label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	opacity: 0;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.checkbox input[type=checkbox] {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkbox-holder span {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
	white-space: normal;
	color: #fff;
}

.btn.btn-submit {
	width: 100%;
	margin-top: 30px;
	color: #a94442;
	border: 2px solid #fff;
	background: #fff;
}

.btn.btn-submit:focus {
	font-weight: bold;
}

.btn.btn-submit:hover {
	color: #a94442;
	background: #fff;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: #a94442;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #a94442;
}

.blue-bg {
	background: #a94442;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
}

.comodity-box {
	width: 100%;
	position: relative;
	padding: 5px;
}
.comodity-box img {
	width: 100%;
}
.comodity-box .comodity-text {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background-color: rgba(34,17,7,0);
	padding: 50px 0px;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
.comodity-box .comodity-text .heading {
	opacity: 0;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
.comodity-box:hover .comodity-text {
	background-color: rgba(34,17,7,0.8);
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
.comodity-box:hover .comodity-text .heading {
	opacity: 1;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}

.list-group-horizontal .list-group-item {
	display: inline;
	background-color: transparent;
	border: none;
}
.brand-logo img {
	min-width: 240px;
	max-width: 40%;
}
.brand-logo hr {
	width: 60%;
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.client-logo {
	text-align: center;
	padding: 50px 0px;
}
.client-logo img {
	margin: 40px auto;
}

ul.key-competencies {
	margin-top: 50px;
}
ul.key-competencies li {
	border-radius: 0px;
	margin-bottom: 1px;
	border: none;
	background-color: transparent;
	color: #fff;
}
ul.key-competencies li table {
	border-collapse: collapse;
	border: none;
}
ul.key-competencies li table tr td {
	/* vertical-align: top; */
	padding: 15px;
}
ul.key-competencies li table tr td img {
	max-width: 200px;
}

ul.competency-thumb li {
	background-color: rgba(255,255,255,.3);
	cursor: pointer;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
ul.competency-thumb li:hover {
	background-color: rgba(255,255,255,.6);
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
ul.competency-thumb li:first-child, ul.competency-thumb li:last-child {
	border-radius: 0px;
}
ul.competency-thumb li.slide-active {
	background-color: rgba(255,255,255,.8);
	cursor: default;
	color: #000;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Media Queries */

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
}

@media(max-width: 768px) {
	.pricing {
		margin-bottom: 30px;
	}
	.pricings .pricing .info-icon {
		display: none;
	}
	.pricings .pricing .box-main,
	.pricings .pricing .box-second {
		left: 0;
		width: 100%;
		padding: 50px 50px 0;
		text-align: left;
		background: #a94442;
	}
	.pricings .pricing .box-main.active {
		background: #a94442;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
	.pricings .pricing .box-second {
		position: relative;
		opacity: 1;
	}
	.popup-form {
		width: 100%;
		margin: 60px auto;
	}
	.modal {
		padding: 0 10px !important;
	}
	nav.navbar-fixed-top {
		display: none;
	}
	nav .navbar-brand a {
		font-size: 20px;
	}
	nav .navbar-brand img {
		width: 42px;
	}
	.navbar-header .navbar-toggle {
		margin-top: -5px;
	}
	.navbar-collapse {
		background-color: rgba(255,255,255,.8);
	}
	.navbar-collapse .navbar-nav {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.navbar-collapse .navbar-nav .btn {
		color: #2196f3;
		border-color: transparent;
	}
	.navbar-collapse .navbar-nav .btn:hover {
		color: #fff;
		background-color: #2196f3;
	}
	ul.competency-thumb {
		display: none;
	}
}

@media(max-width: 400px) {
	header .typed-cursor {
		display: none;
	}
	.pricings .pricing .box-second {
		padding-top: 0;
	}
	nav .navbar-brand a {
		font-size: 14px;
	}
	nav .navbar-brand img {
		width: 36px;
	}
}

.bg-blue-text {
	background-color: #2196f3;
}

.bg-grey {
	background-color: #424242;
}

a {
	color: #f44336 !important;
}

.text-white, a.text-white {
	color: #fff !important;
}


section.footer {
	padding: 50px 0px 0px 0px;
}
.text-sm {
	font-size: 1em;
}

.menubar {
	margin-top: 20px;
	background: #fff;
	border: 1px solid #f5f5f5;
	display: none;
}

ul.top-menu {
	padding: 0px;
	margin: 0px;
	width: 100%;
	display: table;
}
ul.top-menu .top-menu-item {
	list-style-type: none;
	margin: 0px;
	display: table-cell;
	text-align: center;
	border-left: 1px solid #f5f5f5;
	position: relative;
}
ul.top-menu .top-menu-item a.top-menu-link {
	display: block;
	padding: 15px;
}
ul.top-menu .top-menu-item a.top-menu-dropdown::after {
	content: "\f0d7";
    font-family: FontAwesome;
	position: absolute;
	right: 10px;
}
ul.top-menu .top-menu-item:hover a.top-menu-link {
	color: #fff !important;
	background-color: #f44336;
}
ul.top-menu .top-menu-item:last-child {
	border-right: 1px solid #f5f5f5;
}

ul.sub-menu {
	padding: 0px;
	margin: 0px;
	min-width: 100%;
	position: absolute;
	background-color: #fff;
	display: none;
}
ul.sub-menu .sub-menu-item {
	list-style-type: none;
	margin: 0px;
	border-bottom: 1px solid #f5f5f5;
	position: relative;
}
ul.sub-menu .sub-menu-item a.sub-menu-link {
	display: block;
	padding: 15px;
}
ul.sub-menu .sub-menu-item:hover a.sub-menu-link {
	color: #fff !important;
	background-color: #f44336;
}

ul.top-menu .top-menu-item:hover ul.sub-menu {
	display: block;
}

nav.navbar.navbar-fixed-top.show-navbar .menubar {
	display: block;
}

.page-image {
	border-bottom: 5px solid #f44336;
}
.page-image img {
	width: 100%;
}

.page-title {
	height: 80px;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto 80px;
	border-bottom: 3px solid #f44336;
	margin-bottom: 30px;
}
.page-title .heading {
	line-height: 80px;
}

.page-content {
	padding: 0px 25px;
}

.content-section {
	padding: 40px 0px 70px 0px;
	position: relative;
}

ul.page-sidebar {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-right: 1px solid #f5f5f5;
}
.page-sidebar-item {
	list-style-type: none;
	margin: 0px;
	text-align: right;
	position: relative;
}
a.page-sidebar-link {
	display: block;
	padding: 15px;
}
a.page-sidebar-link:hover {
	background-color: #f5f5f5;
}
a.page-sidebar-link .text-title {
	font-size: 1.5em;
}
a.page-sidebar-mask {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	color: #fff !important;
}
a.page-sidebar-mask:hover, .page-sidebar-item.active a.page-sidebar-mask {
	background-color: rgba(244, 67, 54, .7);
	text-shadow: none;
}
.page-sidebar-item.active a.page-sidebar-mask .text-title {
	bottom: 65px;
	text-transform: uppercase;
	font-size: 2em;
	right: 0px;
	left: 0px;
	text-align: center;
}
a.page-sidebar-mask .text-title {
	font-size: 1.5em;
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-shadow: 2px 2px 1px #000;
}
.page-sidebar-item.active a.page-sidebar-link {
	background-color: #f44336;
	color: #fff !important;
}
.page-sidebar-item.active a.page-sidebar-link .text-muted {
	color: #fff !important;
}

ul.core-values {
	padding-top: 20px;
	margin: 0px;
	padding: 0px;
}
ul.core-values li {
	list-style-type: none;
	padding-bottom: 20px;
	padding-left: 0px;
	margin: 0px;
	position: relative;
}
/* ul.core-values li::before {
	content: "\f02c";
	font-family: FontAwesome;
	color: #f44336;
	font-size: 1.5em;
	position: absolute;
	left: -15px;
} */
ul.core-values .heading {
	color: #f44336;
}
ul.core-values p {
	text-align: justify;
}

ul.mission {
	padding-top: 20px;
}
ul.mission li {
	list-style-type: disc;
	padding-bottom: 20px;
	padding-left: 15px;
	position: relative;
}
/* ul.mission li::before {
	content: "\f10e";
	font-family: FontAwesome;
	color: #f44336;
	font-size: 1.5em;
	position: absolute;
	left: -15px;
} */
ul.mission p {
	text-align: justify;
}

@media (max-width: 991px) {
	.md-none {
		display: none;
	}
}

.bg-red {
	background-color: #f44336;
	color: #fff;
}
.bg-red a {
	color: #fff !important;
}

.careers-info {
	padding: 50px 0px;
}

a.btn-vacancies {
	background-color: rgba(255, 255, 255, 1);
	color: #f44336 !important;
	font-weight: bold;
	border: 2px solid #fff;
}
a.btn-vacancies:hover {
	background-color: rgba(255, 255, 255, .3);
	color: #fff !important;
}

.text-red {
	color: #f44336;
}

.divider-line {
	width: 50%;
	border-color: #f44336;
}

ul.vacancy-value {
	padding-top: 20px;
}

ul.vacancy-value li {
	list-style-type: disc;
	padding-left: 10px;
	position: relative;
}
/* ul.vacancy-value li::before {
	content: "\f046";
	font-family: FontAwesome;
	color: #f44336;
	position: absolute;
	left: -10px;
} */
ul.vacancy-value p {
	text-align: justify;
	font-size: 1em;
}

.text-sm {
	font-size: 1em;
}
.text-lg {
	font-size: 1.5em;
}

.job-positions {
	margin-top: 10px;
}
.job-positions .panel-heading {
	font-size: 16px;
	padding: 0px;
	position: relative;
}
.job-positions .panel-heading a {
	display: block;
	padding: 17px 15px 15px 35px;
}
.job-positions .panel-heading:hover {
	background-color: #fff;
}
.job-positions p {
	font-size: 1em;
	text-align: justify;
}

.job-positions a[aria-expanded="true"]::before {
	content: "\f146";
	font-family: FontAwesome;
	position: absolute;
	left: 10px;
}
.job-positions a[aria-expanded="false"]::before {
	content: "\f0fe";
	font-family: FontAwesome;
	position: absolute;
	left: 10px;
}

.btn-form {
	border: 1px solid #f44336;
}
.btn-form:hover {
	background-color: #f44336 !important;
	color: #fff !important;
}

img.img-fluid {
	max-width: 100%;
}
img.img-center {
	margin-left: auto;
	margin-right: auto;
}

img.img-coverage {
	opacity: .5;
}

ul.coverage-title {
	padding: 0px;
	margin: 0px;
	display: table;
	width: 100%;
}
ul.coverage-title .list-group-item {
	display: table-cell;
	background-color: transparent;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	color: #8a8e91;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
ul.coverage-title .list-group-item.slide-active p {
	color: #fff;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}
ul.coverage-master {
	padding: 0px;
	margin: 0px;
	width: 100%;
}
ul.coverage-master .list-group-item {
	background-color: transparent;
	border: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
ul.coverage-master .list-group-item img {
	margin: 0px auto;
}

input.form-application-code {
	border: 1px solid #f44336;
}
button.btn-check-application {
	background-color: #f44336;
	color: #fff;
	opacity: 1;
}
button.btn-check-application:hover {
	color: #fff;
	opacity: .7;
}

.form-control {
	border-radius: 0px;
}
.btn {
	border-radius: 0px;
}

.full-width {
	width: 100%;
}

.img-values {
	max-width: 240px;
	margin: auto;
	position: relative;
}
ul.img-value {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}
ul.img-value li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.polygon-shape {
	fill: #fff200;
	cursor: pointer;
	stroke: #ffffff;
	stroke-width: 2;
	-webkit-transition: fill 1s;
	transition: fill 1s;
}
.polygon-orange {
	fill: #ffc80b;
}
.polygon-text {
	font-family: Sans, Arial;
	cursor:pointer;
	-webkit-transition: fill 1s;
	transition: fill 1s;
}
.polygon-red {
	fill: #f44336;
}
.polygon-grey {
	fill: #435a8c;
}
.value-item:hover .polygon-shape {
	fill: #dbdbdb;
	-webkit-transition: fill 1s;
	transition: fill 1s;
}
.value-item.slide-active .polygon-shape {
	fill: #f44336;
	-webkit-transition: fill 1s;
	transition: fill 1s;
}
.value-item.slide-active .polygon-text {
	fill: #ffffff;
	-webkit-transition: fill 1s;
	transition: fill 1s;
}

.panel-image-gallery {
	border: none;
}
.panel-image-gallery .panel-heading {
	padding: 10px 30px;
	border: none;
}
.panel-image-gallery .panel-body {
	padding: 10px;
}

ul.image-thumb {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul.image-thumb li {
	margin: 0px;
	padding: 0px;
	width: 160px;
}
ul.image-thumb li img {
	width: 140px;
	margin: auto;
	cursor: pointer;
	border: 2px solid #f44336;
}
ul.image-thumb .slick-slide img {
	opacity: 1;
	transition: opacity ease .5s;
	-webkit-transition: opacity ease .5s;
}
ul.image-thumb .slick-slide.slick-current img {
	opacity: .5;
	transition: opacity ease .5s;
	-webkit-transition: opacity ease .5s;
}

ul.image-thumb .slick-prev::before {
	font-family: FontAwesome;
	content: "\f053";
	color: #424242;
}
ul.image-thumb .slick-next::before {
	font-family: FontAwesome;
	content: "\f054";
	color: #424242;
}

ul.image-preview {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul.image-preview li {
	margin: 0px;
	padding: 0px;
}
ul.image-preview li img {
	width: 100%;
}

.panel-product {
	cursor: pointer;
	border: 1px solid transparent;
	transform: translateY(0px);
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}
.panel-product:hover {
	border: 1px solid #e0e0e0;
	transform: translateY(-5px);
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}
.panel-product .panel-footer {
	height: 64px;
}

.product-left {
	width: 100%;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}
.product-left.show-right {
	width: calc(100% - 480px);
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}

.product-right {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow-x: hidden;
	box-shadow: -1px 0px 5px #e0e0e0;
	width: 0px;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}
.product-right.show-right {
	width: 480px;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}
.product-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	z-index: 1;
	padding: 25px;
}
.product-overview {
	padding: 10px 0px;
	display: none;
}
.product-overview.show {
	display: block;
}
.product-overview .heading {
	padding: 5px 3px;
	border-bottom: 1px solid #e0e0e0;
}

button.btn-product-close {
	color: #f44336;
	border: none;
	background-color: transparent;
	padding: 3px 5px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.products {
	width: 100%;
	text-align: center;
}
.product {
	width: 180px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

.text-white {
	color: #fff;
}

.table-development {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: none;
	width: 100%;
}
.table-development td {
	align: center;
	vertical-align: middle;
	padding: 50px;
}
.table-development td:first-child {
	width: 100px;
	background-color: rgba(244, 67, 54, .5);
}
.table-development td:last-child {
	background-color: #f44336;
}

.btn-apply-now {
	padding: 15px 25px;
	color: #fff !important;
}
.btn-apply-now:hover {
	opacity: .8;
}
